/*
The below is mostly for the Degree Tracker Welcome/generic pages
*/
.welcome_header{
    font-family: 'Open Sans', sans-serif;
    font-size:200%;
    color:white;
    padding:.9em;
    background-color:#980101;
    border: solid white 1px;
    border-radius: .4em;
    font-weight: 900;
    margin:0em;
    width:100%;
}

.welcome_header_subtitle{
    font-size:50%;
    padding-top:.5em;
}

.login_logout_signup_welcome{
    padding-top:1em;
    font-family: 'Open Sans', sans-serif;
    font-size:80%;
}

.new{
    font-family: 'Open Sans', sans-serif;
}

.old{
    font-family: 'Open Sans', sans-serif;
}



/*
The below is mostly for the HES specific pages
*/


/*
This wraps most of the font on the whole website with whatever you choose!
*/
.font_wrapper_new_course{
    font-family: 'Open Sans', sans-serif;
    font-size:120%;
}

.font_wrapper{
    font-family: 'Open Sans', sans-serif;
    font-size:90%;
}

.fine_print{
    font-size:70%;
}

.font_wrapper_sign_in_log_in{
    font-family: 'Open Sans', sans-serif;
}

.hes_header{
    font-family: 'Open Sans', sans-serif;
    font-size:200%;
    color:white;
    padding:.9em;
    background-color:#980101;
    border: solid white 1px;
    border-radius: .4em;
    font-weight: 900;   
    margin:0em;
    width:45em;
}

#heading{
    color:white;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin:.3em;
}

nav ul li {
    display:inline;
    margin-right:7px;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    color:#980101;
    font-size:75%;
}

a:link{
    text-decoration:none;
    color:black;
}

a:visited{
    text-decoration:underline;
    color:dimgray;
}

a:hover {
    text-decoration:underline;
    color:#980101;
}
a:active {
      text-decoration:underline;
      color:yellow;
 }




table{
    background-color:pink;
    border-collapse:collapse;
    border:3px solid black;
    width:100%;
    margin:.3em;
}

table,th,td
{
    border:1px solid black;
}

#studentNameHeader{
    font-family: 'Open Sans', sans-serif;
    color:white;
    padding:.9em;
    background-color:#980101;
    border: solid white 1px;
    border-radius: .4em;
    font-weight: 900;
    margin:0em;
    width:45em;
    font-size:100%;
}

.tableHeaders{
    background-color:#BFBBBC;   
    font-weight: 900;
}

.login_logout_signup{
    padding-top:1.5em;
    font-family: 'Open Sans', sans-serif;
}

.name{
    width:17em;
    height:1em;
    padding:.7em;
    font-weight:500;
    font-size:1em;
}

/*
The below are for the INPUT FORMS (with no suffixes)
They have pink backgrounds, except for the drop-down boxes, which are grey
*/

.student_email{
    width:5.9em;
    background-color:pink;
}

.student_name{
    width:5.9em;
    background-color:pink;
}

.concentration{
    width:5.9em;
    background-color:pink;
}

.degree_program{
    width:5.9em;
    background-color:pink;
}

.course_number{
    background-color:pink;
    width:5.9em;
}

.course_delivery{
    width:5.9em;
    background-color:pink;
}

.crn_number{
    width:5.9em;
    background-color:pink;
}

.tuition{
    width:5.9em;
    background-color:pink;
}

.section{
    width:5.9em;
    background-color:pink;
}

.course_title{
    width:5.9em;
    background-color:pink;
}

.course_attributes{
    width:5.9em;
    background-color:pink;}

.semester{
    width:5.9em;
    background-color:pink;
}

.status{
    width:5.9em;
    background-color:pink;
}

.letter_grade{
    width:5.9em;
    background-color:pink;
}

.days{
    width:5.9em;
    background-color:pink;
}

.times{
    width:5.9em;
    background-color:pink;
}

.year{
    width:5.9em;
    background-color:pink;
}

.professors{
    width:5.9em;
    background-color:pink;
}

.grade_points{
    width:5.9em;
    background-color:#980101;
    font-weight:900;
    color:white;
}

.transfer_credits{
    width:5.9em;
    background-color:pink;
}

.hes_credits{
    width:5.9em;
    background-color:pink;
}

.flash-message {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:yellow;
    text-align:center;
    padding:5px;
    font-family: 'Open Sans', sans-serif;
}

.textboxes{
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
}

/*
These are for the grey headers on the tables with the _header suffixes
*/
.course_number_header{
    background-color:#BFBBBC;
    min-width:5em;
}

.course_delivery_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.crn_number_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.tuition_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.section_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.course_title_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.course_attributes_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.semester_header{
    min-width:5em;
    background-color:#BFBBBC;
}


.days_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.times_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.year_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.professors_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.status_header{
    min-width:5em;
    background-color:#BFBBBC;
}


.letter_grade_header{
    min-width:5em;
    background-color:#BFBBBC;
}


.grade_points_header{
    min-width:5em;
    background-color:#980101;
    font-weight:900;
    color:white;
}

.transfer_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.hes_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

 .edit_or_delete_rows{
    background-color:pink;
    vertical-align: top;
     padding:.4em;
     height:.7em;
}
 .edit_or_delete_text{
    vertical-align: top;
    padding:.4em;
}

.separator_row{
    background-color: white;
    height:1em;
    border-left-style:hidden;
    border-right-style: hidden;
}

.bottom_separator_row{
    background-color: white;
    height:1px;
    border-style:hidden;
}

.data_row
{
}

/**
These control the pink table rows
**/
.course_number_box{
    min-width:5em;
    background-color:pink;
}

.course_delivery_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.crn_number_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.tuition_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.section_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.course_title_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}
.course_attributes_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.semester_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.status_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.days_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.times_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.year_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.professors_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.letter_grade_box{
    min-width:5em;
    background-color:pink;
    font-weight:900;
    text-align:center;
}

.grade_points_box{
    min-width:5em;
    background-color:#980101;
    font-weight:900;
    color:pink;
    text-align:center;
}

.transfer_credits_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}

.hes_credits_box{
    min-width:5em;
    background-color:pink;
    text-align:center;
}
