/*
Globals
*/
.negative_table_pink_border_issue_indent_over_from_left_margin{
    margin-left:-.5em;
}

.indent_over_from_left_margin{
    margin-left:2em;
}

.indent_over_from_left_margin2{
    margin-left:1em;
}

.indent_over_from_left_margin3{
    margin-left:.7em;
}

.indent_from_right_margin{
    margin-right:10em;
}

.indent_both_sides_for_table_shrinking{

}

.negative_vertical{
    margin-top:-1.7em;
}

.custom_h2{
    font-family: 'Verdana', sans-serif;
    font-size:150%;
    padding-top:.3em;
    padding-bottom:.3em;
}

.custom_h3{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
}

/*
For the create/add new course page
*/
.create_course_color{
    text-decoration: underline;
    /* background-color:#BFBBBC;
    margin-right:39.5em; */
}

/*
The below controls buttons and links
*/

input[type="submit"]{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    border-radius:.4em;
    border: solid #980101 1px;
    width:20em;
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
    background-color: white;
}

input[type="submit"]:hover{
    background-color:yellow;
}

.font_wrapper_select_item_to_edit{

}

.font_wrapper_edit_buttons{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    border-radius:.4em;
    border: solid #980101 1px;
    width:20em;
    text-align:center;
    background-color: white;
    padding:.1em;
    padding-left:3.75em;
    padding-right:3.75em;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
}

.font_wrapper_edit_buttons:hover{
    background-color:yellow;
}

.font_wrapper_delete_confirmation_buttons{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    border-radius:.4em;
    border: solid #980101 1px;
    width:20em;
    text-align:center;
    margin-bottom:0em;
    background-color: white;
    margin-right:1em;
    padding:.1em;
    padding-left:.2em;
    padding-right:.2em;
}

.font_wrapper_delete_confirmation_buttons:hover{
    background-color:yellow;
}

.font_wrapper_delete_confirmation_buttons2{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    border-radius:.4em;
    border: solid #980101 1px;
    width:20em;
    text-align:center;
    background-color: white;
    margin-bottom:1em;
    margin-right:1em;
    padding:.1em;
    padding-left:.2em;
    padding-right:.2em;
}

.font_wrapper_edit_confirmation_buttons2{
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 2.5px 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    font-size:125%;
    border-radius:.4em;
    width:20em;
    text-align:center;
    margin-bottom:1em;
    margin-right:1em;
    padding:.1em;
    padding-left:0em;
    padding-right:0em;
}

.font_wrapper_edit_confirmation_buttons2:hover{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.font_wrapper_edit_confirmation_buttons2:active{
    border-top-color: #1b435e;
    background: #1b435e;
}

.edit_delete_buttons{
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 2.5px 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    vertical-align: middle;
}
.edit_delete_buttons:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.edit_delete_buttons:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.header_butttons{
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 2.5px 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom:10px;
}

.header_buttons:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.header_buttons:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.font_wrapper_new_course{
    margin-left:.3em;
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    border-radius:.4em;
    border: solid #980101 1px;
    width:20em;
    text-align:center;
    margin-bottom:1em;
    background-color: white;
    margin-right:1em;
    margin-top:.7em;
}

.font_wrapper_new_course:hover{
    background-color:yellow;
}

.graduation_eligibility{
    color:#BFBBBC;
    background-color:black;
    text-align:center;
    margin-left:-30px;
    margin-right:-4px;
    padding:1.4em;
}

nav ul li {
    display:inline;
    margin-right:7px;
    font-family: 'Verdana', sans-serif;
    font-weight:500;
    color:#980101;
    font-size:75%;
}

a:link{
    text-decoration:none;
    color:black;
}

a:visited{
    text-decoration:none;
    color:black;
}

a:hover {
    text-decoration:none;
    color:white;
}
a:active {
    text-decoration:none;
    color:yellow;
}


/*
The below is mostly for the Degree Tracker Welcome/generic pages
*/
.padding_welcome{
    padding-left:0em;
}

.hes_header{
    font-family: 'Verdana',sans-serif;
    font-size:230%;
    color:white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 0em;
    padding-right:1em;
    background-color:#980101;
    border: solid white 1px;
    /*border-radius: .4em;
    width:79%;*/
    width:100%;
    font-weight: 600;
    margin:0em;
    margin-top:.1em;
    margin-left:-.3em;
    text-align:center;
}

.box_wrapper_to_keep_headers_lined_up_flush_on_the_right_side{

}

.shields_header{
    /*font-family: 'Verdana',sans-serif;
    font-size:230%;
    font-weight: 600;*/
    color:white;
    padding-top: .5em;
    padding-bottom: .1em;
    padding-left: 0em;
    padding-right:2.2em;
    background-color:#B4191C;
    border: solid white 1px;
    /*border-radius: .4em;
    width:79%;*/
    width:100%;
    margin:0em;
    margin-top:.1em;
    margin-left:-.7em;
    text-align:center;
}

.welcome_header{
    font-family: 'Verdana',sans-serif;
    font-size:230%;
    color:white;
    padding-top:1em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right:1.5em;
    background-color:#980101;
    border: solid white 1px;
    /*border-radius: .4em;
    width:79%;*/
    width:100%;
    font-weight: 600;
    margin:0em;
    margin-top:.1em;
    margin-left:-.3em;
    text-align:center;
}

.blurb_header{
    font-family: 'Verdana',sans-serif;
    color:white;
    padding:.5em;
    padding-left:0em;
    padding-right:1.7em;
    background-color:#980101;
    border: solid white 1px;
    /*border-radius: .5em;
    width:98.5%;*/
    width:100%;
    font-weight: 500;
    margin-top:0em;
    margin-bottom:1em;
    margin-left:-.5em;
    font-size:125%;
    text-align:center;
}

.student_name_and_concentration_header{
    font-family: 'Verdana',sans-serif;
    color:white;
    padding:.5em;
    padding-left:0em;
    padding-right:1.7em;
    background-color:#980101;
    border: solid white 1px;
    /*border-radius: .5em;
    width:98.5%;*/
    width:100%;
    font-weight: 500;
    margin-top:0em;
    margin-bottom:.3em;
    margin-left:-.5em;
    font-size:110%;
    text-align: center;
}
.smaller_subheader{
    font-size:100%;
}

.vertical_mark{
    margin-left:.5em;
    margin-right:1em;
}

.account_settings_link{
    margin-right:2em;
}

.login_logout_signup_welcome{
    font-family: 'Verdana', sans-serif;
    margin-left:1em;
    margin-right:2em;
    text-align:right;
}

.login_logout_signup{
    font-family: 'Verdana', sans-serif;
    margin-left:1.5em;
    margin-right:2em;
    float:right;
}

.footer{
    font-family: 'Verdana', sans-serif;
    margin-left:1.5em;
    margin-right:2em;
    text-align:center;
}

.link_home{
    font-family: 'Verdana', sans-serif;
    margin-left:1.5em;
    float:left;
}

.clear_floats{
    clear:both;
}


/*
The below is mostly for the HES specific pages
*/

/*
This wraps most of the font on the whole website with whatever you choose!
*/

.checkboxes_alb{
    padding-right:1em;
}

.checkboxes_alm{
    padding-right:.3em;
}

.font_wrapper{
    font-family: 'Verdana', sans-serif;
    font-size:80%;
}

.font_wrapper2{
    font-family: 'Verdana', sans-serif;
    font-size:100%;
}

.font_wrapper_delete_confirmation{
    font-family: 'Verdana', sans-serif;
    font-size:125%;
    padding:1em;
}

.fine_print{
    font-family: 'Verdana', sans-serif;
    font-size:93%;
}

.fine_print_headers{
    font-family: 'Verdana', sans-serif;
    font-size:93%;
    text-decoration: underline;
}

.fine_print_email{
    font-family: 'Verdana', sans-serif;
    font-size:93%;
    text-align:right;
    margin-right:2em;
}

.font_wrapper_sign_in_log_in{
    font-family: 'Verdana', sans-serif;
}

.student_name_spacer{
    margin-right:.3em;
    padding-left:.3em;
}

.student_name_and_concentration_spacer{
    margin-left:.3em;
    margin-right:.1em;
}

.concentration_and_field_of_study_spacer{
    margin-left:.3em;
    margin-right:.1em;
}

.field_of_study_and_minor_spacer{
    margin-left:.3em;
    margin-right:.1em;
}

.minor_and_minor_spacer{
    margin-left:.3em;
}

.no_wrap{
    overflow: hidden;
    white-space: nowrap;
}

.indent_more{
    margin-left:2em;
}

.indent_even_more{
    margin-left:2em;
}

.indent_over_from_left_margin{
    margin-left:2em;
}

table{
    border-collapse:collapse;
    border:3px solid black;
    width:100%;
    margin:.3em;
}

table,th,td
{
    border:1px solid black;
}

.tableHeaders{
    background-color:#BFBBBC;
    font-weight: 900;
}

.name{
    width:17em;
    height:1em;
    padding:.7em;
    font-weight:500;
    font-size:1em;
}

.email_font{
    font-family: Verdana, sans-serif;
    font-size:100%;
}

.email_header{
    font-family: Verdana, sans-serif;
    font-size:125%;
    font-weight:bold;
    color:darkblue;
}

/*
The below are for the INPUT FORMS (with no suffixes)
They have #ffe4ee backgrounds, except for the drop-down boxes, which are grey
*/

.student_email{
    width:7.7em;
    background-color:#ffe4ee;
}



.degree_program{
    width:7.7em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.course_number{
    background-color:#ffe4ee;
    width:93%;
    font-family: 'Verdana', sans-serif;
}

.course_delivery{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.crn_number{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.tuition{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.section{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.course_title{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.course_concentration{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}




.course_attributes{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.minor {
    width: 93%;
    background-color: #ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.semester_term{
    width:46%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.semester_year{
    width:46%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.status{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.letter_grade{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.days_and_times{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.course_field_of_study{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.professors{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.grade_points{
    width:93%;
    background-color:#980101;
    font-weight:900;
    color:white;
    font-family: 'Verdana', sans-serif;
}

.transfer_credits{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.hes_credits{
    width:93%;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.textboxes{
    font-family: 'Verdana', sans-serif;
    font-weight:500;
}

/*
These are for the grey headers on the tables with the _header suffixes
*/
.course_number_header{
    background-color:#BFBBBC;
    min-width:5em;
}

.course_delivery_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.crn_number_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.tuition_header{
    min-width:3em;
    background-color:#BFBBBC;
}

.section_header{
    min-width:3em;
    background-color:#BFBBBC;
}

.course_title_header{
    min-width:2em;
    background-color:#BFBBBC;
}

.concentration_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.course_attributes_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.semester_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.minor_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.days_and_times_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.field_of_study_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.professors_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.status_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.letter_grade_header{
    min-width:5em;
    background-color:#BFBBBC;
}


.grade_points_header{
    min-width:5em;
    background-color:#980101;
    font-weight:900;
    color:white;
}

.transfer_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.hes_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.edit_or_delete_rows{
    background-color:#ffe4ee;
    vertical-align: top;
    padding:.4em;
    padding-bottom:.5em;
}
.edit_or_delete_text{
    vertical-align: top;
    padding:.4em;
}

.separator_row{
    background-color: white;
    height:2em;
    border-left-style:hidden;
    border-right-style: hidden;
}

.bottom_separator_row{
    background-color: white;
    height:1px;
    border-style:hidden;
}

.edit_delete_row
{
}

/**
These control the background of the table rows except for the ones that are in the add/create new
course table rows
**/
.course_number_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.course_delivery_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.crn_number_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.tuition_box{
    height: 1.5em;
    min-width:3em;
    background-color:#ffe4ee;
    text-align:center;
}

.section_box{
    height: 1.5em;
    min-width:3em;
    background-color:#ffe4ee;
    text-align:center;
}

.course_title_box{
    height: 1.5em;
    min-width:2em;
    background-color:#ffe4ee;
    text-align:center;
}

.concentration_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}


.course_attributes_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.semester_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.status_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.days_and_times_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.field_of_study_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.minor_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.professors_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.letter_grade_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    font-weight:900;
    text-align:center;
}

.grade_points_box{
    height: 1.5em;
    min-width:5em;
    background-color:#980101;
    font-weight:900;
    color:#ffe4ee;
    text-align:center;
}

.transfer_credits_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.hes_credits_box{
    height: 1.5em;
    min-width:5em;
    background-color:#ffe4ee;
    text-align:center;
}

.padder{
    margin-top:.3em;
}

.textboxes{
    font-family: 'Verdana', sans-serif;
    font-weight:500;
}

/*
These are for the yellow table headers on the create/add new course page.
*/
.add_course_number_header{
    background-color:#BFBBBC;
    min-width:5em;
}

.add_course_delivery_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_crn_number_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_tuition_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_section_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_course_title_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_course_attributes_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_semester_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_days_and_times_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_professors_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_status_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_letter_grade_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_grade_points_header{
    min-width:5em;
    background-color:#980101;
    font-weight:900;
    color:white;
}

.add_transfer_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

.add_hes_credits_header{
    min-width:5em;
    background-color:#BFBBBC;
}

/*
  The following affect the change user settings input forms
*/

.settings_school_name{
    width:20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_student_name{
    width:20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_degree_program{
    width:20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_concentration{
    width: 20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_minor{
    width: 20em;
    background-color: #ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_email_or_password{
    width:20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.settings_field_of_study{
    width:20em;
    background-color:#ffe4ee;
    font-family: 'Verdana', sans-serif;
}

.lined_up{
    position:absolute;
    left:23em;
}

.lined_up_for_sign_up{
    text-align:right;
    float:right;
    margin-right:50px;
}

.lined_up_for_log_in{
    text-align:right;
    float:right;
    margin-right:50px;
}